x-airflow-common: &airflow-common
  environment:
    - AIRFLOW_FERNET_KEY=${AIRFLOW_FERNET_KEY}
    - AIRFLOW__CORE__EXECUTOR=LocalExecutor
    - AIRFLOW__CORE__LOAD_EXAMPLES=False
    - AIRFLOW__CORE__SQL_ALCHEMY_CONN=${AIRFLOW_DATABASE_URL}
    - AIRFLOW__CORE__DAGS_ARE_PAUSED_AT_CREATION=False
    # - AIRFLOW__API__AUTH_BACKEND=airflow.api.auth.backend.basic_auth
    - POLYGON_API_KEY=${POLYGON_API_KEY}
    - AIRFLOW__CORE__DEFAULT_TIMEZONE=Europe/Warsaw
  volumes:
    - ./airflow:/opt/airflow
    - ./app:/opt/airflow/app
    - ./db:/opt/airflow/db

services:
  postgres:
    container_name: trading-pipeline-postgres
    image: postgres:15
    ports:
      - "${POSTGRES_PORT_HOST}:5432"
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}
    volumes:
      - ./postgres_data:/var/lib/postgresql/data
      - ./db:/docker-entrypoint-initdb.d
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER}"]
      interval: 5s
      timeout: 5s
      retries: 5
      start_period: 10s
    restart: unless-stopped

  airflow-init:
    image: apache/airflow:2.8.0
    <<: *airflow-common
    command: bash -c "airflow db init && airflow users create --username ${AIRFLOW_USERNAME} --password ${AIRFLOW_PASSWORD} --role Admin --email ${AIRFLOW_EMAIL}"
    depends_on:
      postgres:
        condition: service_healthy

  airflow-webserver:
    image: apache/airflow:2.8.0
    <<: *airflow-common
    command: airflow webserver
    ports:
      - "${AIRFLOW_PORT_HOST}:8080"
    depends_on:
      airflow-init:
        condition: service_completed_successfully

  airflow-scheduler:
    image: apache/airflow:2.8.0
    <<: *airflow-common
    command: airflow scheduler
    depends_on:
      airflow-init:
        condition: service_completed_successfully

volumes:
  postgres_data: